@import "reset";
@import "shared/assets/fonts/fonts";
@import "variables/global";

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font: var(--font-m);
  height: 100%;
  min-height: 100vh;
}

.CheckAreaButton {
  bottom: 40px;
  position: fixed;
  right: 40px;
}