.FlexContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.FlexContainer_start {
  justify-content: flex-start;
}

.FlexContainer_center {
  justify-content: center;
}

.FlexContainer_end {
  justify-content: flex-end;
}