.ArticleDetailPage {
  background-color: var(--card-bg-color);
  border-radius: 15px;
  margin: 0 auto;
  max-width: 768px;
  padding: 25px;
  width: 100%;
}

.ArticleDetailPage__CreatedAt {
  display: block;
  font-size: 14px;
}

.ArticleDetailPage__Image {
  display: block;
  max-width: 100%;
  width: 100%;
}

.ArticleDetailPage__TextBlock {
  margin: 30px 0;
}

