.Navbar {
  width: 100%;
  background: var(--bg-color-inverted);
  padding: 0 50px;
  font: var(--font-xl);
  height: var(--header-height);
  align-items: center;
  display: flex;
}

.Navbar__Menu {
  margin-left: auto;
}