.LoginForm {
  margin-top: 15px;
  padding: 25px;

  &__Title {
    text-align: center;
  }

  &__InputContainer {
    margin-bottom: 15px;
  }

  &__Input {
    input {
      padding: 7px;
    }
  }
}