.Header {
  align-items: center;
  background: var(--bg-color-inverted);
  display: flex;
  font: var(--font-xl);
  height: var(--header-height);
  padding: 0 50px;
  width: 100%;
}

.Header__Menu {
  margin-left: auto;
}